[Unit]
Description=Mirantis rpc agent
After=multi-user.target

[Service]
WorkingDirectory=/opt/mirantis/agent
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart=/usr/bin/python3.5 /opt/mirantis/agent/agent/run_service.py /opt/mirantis/agent
StandardOutput=null
