[Unit]
Description=Mirantis rpc agent

[Service]
WorkingDirectory={INSTALL}
Environment=PYTHONUNBUFFERED=1
Type=simple
ExecStart=/usr/bin/env bash "{INSTALL}/run.sh" server server --config '{CONFIG_PATH}'
StandardOutput=null

[Install]
WantedBy=multi-user.target
